<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wp17.lina.rank.db.mapper.ScoreRecordMapper">
  <resultMap id="BaseResultMap" type="com.github.wp17.lina.rank.db.mapper.ScoreRecord">
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="time" jdbcType="BIGINT" property="time" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from score_rank_record
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.github.wp17.lina.rank.db.mapper.ScoreRecord">
    insert into score_rank_record (role_id, score, time
      )
    values (#{roleId,jdbcType=BIGINT}, #{score,jdbcType=INTEGER}, #{time,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.github.wp17.lina.rank.db.mapper.ScoreRecord">
    update score_rank_record
    set score = #{score,jdbcType=INTEGER},
      time = #{time,jdbcType=BIGINT}
    where role_id = #{roleId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select role_id, score, time
    from score_rank_record
    where role_id = #{roleId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, score, time
    from score_rank_record
  </select>
</mapper>