<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.wgpg.lina.db.mapper.role.UserAuthMapper">
  <resultMap id="BaseResultMap" type="cn.org.wgpg.lina.db.model.role.UserAuth">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="platform" jdbcType="INTEGER" property="platform" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_auth
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.org.wgpg.lina.db.model.role.UserAuth">
    insert into user_auth (id, username, platform
      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{platform,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.org.wgpg.lina.db.model.role.UserAuth">
    update user_auth
    set username = #{username,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, username, platform
    from user_auth
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, platform
    from user_auth
  </select>
</mapper>